/* You can add global styles to this file, and also import other style files */

.card {
    background-color: white;
    border-radius: 10px;
    align-content: left;
    padding: 4px;
    margin-bottom: 10px;
}
